{% extends 'layout/mybase.html' %}
{% block addonhead %}
{% include 'service-dept/get_product_info_addon.html' %}
{% endblock %}
{% block title %} KanoteX | Service Form {% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="card">
          <div class="card-body">
              <h5>Service Form</h5>
            <hr>
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-5">
                  <div class="form-floating mb-3">
                    {{ form.customer }}
                    <label for="customerName"> customer name</label>
                  </div>
                  <div class="form-floating mb-3">
                    {{ form.so_no }}
                    <label for="soNo"> SO:</label>
                  </div>
                  <div class="form-floating mb-3">
                  </div>
                </div>
                <div class="col-md-5">

                  <div class="form-floating mb-3">
                    {{ form.purchased_shop }}
                    <label for="purchase_shop"> purchase shop</label>
                  </div>
                  <div class="form-floating mb-3 border rounded-4 ps-3 py-2">
                    <div>
                    <label for="purchasedDate"> purchase date</label>
                    <div class="d-inline-flex justify-items-between m-b-3">
                      {{ form.purchased_date }}
                    </div>
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>Code</th>
                      <th>Item Name</th>
                      <th>Qty</th>
                    </tr>
                    </thead>
                  <tbody>
                    <tr>
                      <td id="codE">{{ form.product }}</td>
                      <td id="name">item name</td>
                      <td>{{ form.qty }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Accessories</th>
                      <td colspan="2">
                        {{ form.accessories }}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Physical Damage</th>
                      <td colspan="2">
                        {{ form.user_dmg }}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row"> Error Reason</th>
                      <td colspan="2">
                        {{ form.reason }}
                      </td>
                    </tr>
                    <tr>
                      <th scope="row"> Detail</th>
                      <td colspan="2">
                        {{ form.how }}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="">
                        {% if request.user.is_authenticated %}
                          {% if request.user.dept_id != kanoteDepartments.TECH %}
                            {% if request.resolver_math.url_name == 'services:edit_service_form' %}
                          <div class="d-inline-flex justify-content-arount align-items-center float-right">
                            <input class="btn btn-primary me-3" type="submit" value="Update" />
                            <a href="{% url 'services:del-received_error' %}" class="btn btn-primary me-3" type="submit"> Del </a>
                          </div>
                            {% else %}
                          <input class="btn btn-primary float-right me-3" type="submit" value="Upload" />
                            {% endif %}
                          {% else %}
                          <input class="btn btn-primary float-right disabled me-3" type="submit" value="Upload" />
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </article>
</form>
{% endblock %}